.sign-content 
  %header.sin-header
    = render "items/header"
    %nav.bread-crumbs
      %ul
        - breadcrumb :users_new
        = breadcrumbs separator: " &rsaquo; "
  %main.sign-main
    %section.sign-main__container
      %h2.sign-main__container__title
        会員情報入力
      .sign-main__container__form
        .form__contents
          = form_for(@user, url: user_registration_path ) do |f|
            = render "devise/shared/error_messages", resource: @user
            .form-group
              = f.label :ニックネーム
              %span.form-group__require 必須
              = f.text_field :nickname, {placeholder: " 例) 山ちゃん",class:'form-group__input', required: true}
            .form-group
              = f.label :メールアドレス
              %span.form-group__require 必須
              = f.email_field :email, {autofocus: true, autocomplete: "email", placeholder: " PC・携帯どちらでも可",class:'form-group__input', required: true}
            .form-group
              = f.label :パスワード
              %span.form-group__require 必須
              = f.password_field :password,{autocomplete: "new-password",placeholder: " 7文字以上",class:'form-group__input',id:"password", required: true}
            .form-group
              = f.label :パスワード確認用 
              %span.form-group__require 必須
              = f.password_field :password_confirmation,{autocomplete: "new-password",placeholder: " 7文字以上",class:'form-group__input',id:"password", required: true}
            .form-group
              = f.submit '次へ', class: "btn-next"
