.user-page__side
  %nav.user-navi
    %ul.user-navi__menu
      メニュー
      %li.user-navi__menu__list
        = link_to "#" do
          お知らせ
      %li.user-navi__menu__list
        = link_to "#" do
          出品する
      %li.user-navi__menu__list
        = link_to "#" do
          出品した商品
      %li.user-navi__menu__list
        = link_to "#" do
          購入した商品
      %li.user-navi__menu__list
        = link_to "#" do
          評価一覧
      %li.user-navi__menu__list
        = link_to "#" do
          ガイド
      %li.user-navi__menu__list
        = link_to "#" do
          お問い合わせ
    %ul.user-navi__setup
      設定
      %li.user-navi__menu__list
        = link_to "#" do
          プロフィール
      %li.user-navi__menu__list
        = link_to "#" do
          発送元・お届け先住所変更
      %li.user-navi__menu__list
        = link_to "#" do
          支払い方法
      %li.user-navi__menu__list
        = link_to "#" do
          メール・パスワード
      %li.user-navi__menu__list
        = link_to "#" do
          電話番号の確認
      %li.user-navi__menu__list
        = link_to "#" do
          ログアウト