= render 'items/header'
%nav.bread-crumbs
  %ul
    - breadcrumb :user_display_lists
    = breadcrumbs separator: " &rsaquo; "

.item__body
  .item__body__title
    商品出品一覧
  
  - if @items.present?  
    = render 'users/lists'
  - else
    .none_lists
      出品中の商品はありません
                

= render 'items/footer'
= render 'items/sell-btn'