= render 'items/header'
.mypage
  = render "users/mypage/mypage-side"
  = render "users/mypage/mypage-main"
= render 'items/footer'
.sell
  %a.sell-icon{:href => "#"}
    .photoBtn
      %span.photoBtn__text
        出品する
      = image_tag "/assets/icon_camera.png" , class: "photoBtn__icon"
  