= render 'items/header'
%nav.bread-crumbs
  %ul
    - breadcrumb :user_sold_lists
    = breadcrumbs separator: " &rsaquo; "

.item__body
  .item__body__title
    商品購入履歴
  
  - if @items.present?  
    = render 'users/lists'
  - else
    .none_lists
      購入済みの商品はありません
                


= render 'items/footer'
= render 'items/sell-btn'