.mypage__side
  %nav.user-navi
    %h3.user-navi__head  
      メニュー
    %ul.user-navi__menu
      %li.user-navi__menu__list
        .user-navi__menu__list__item
          = link_to "#", class: "list-table" do
            .list-table__branch
              %span.list-table__branch__name
                お知らせ
              .list-table__branch__icon
                = icon('fas','angle-right')
      %li.user-navi__menu__list
        .user-navi__menu__list__item
          = link_to sold_lists_user_path(current_user), class: "list-table" do
            .list-table__branch
              %span.list-table__branch__name
                商品購入履歴
              .list-table__branch__icon
                = icon('fas','angle-right')
      %li.user-navi__menu__list
        .user-navi__menu__list__item
          = link_to display_lists_user_path(current_user), class: "list-table" do
            .list-table__branch
              %span.list-table__branch__name
                商品出品一覧
              .list-table__branch__icon
                = icon('fas','angle-right')
      %li.user-navi__menu__list
        .user-navi__menu__list__item
          = link_to "#", class: "list-table" do
            .list-table__branch
              %span.list-table__branch__name
                評価一覧
              .list-table__branch__icon
                = icon('fas','angle-right')
      %li.user-navi__menu__list
        .user-navi__menu__list__item
          = link_to "#", class: "list-table" do
            .list-table__branch
              %span.list-table__branch__name
                ガイド
              .list-table__branch__icon
                = icon('fas','angle-right')
      %li.user-navi__menu__list
        .user-navi__menu__list__item
          = link_to "#", class: "list-table" do
            .list-table__branch
              %span.list-table__branch__name
                お問い合わせ
              .list-table__branch__icon
                = icon('fas','angle-right')
    %h3.user-navi__head.user-navi__head-cog
      設定
    %ul.user-navi__setup
      %li.user-navi__menu__list
        .user-navi__menu__list__item
          = link_to "#", class: "list-table" do
            .list-table__branch
              %span.list-table__branch__name
                プロフィール
              .list-table__branch__icon
                = icon('fas','angle-right')
      %li.user-navi__menu__list
        .user-navi__menu__list__item
          = link_to "#", class: "list-table" do
            .list-table__branch
              %span.list-table__branch__name
                発送元・お届け先住所変更
              .list-table__branch__icon
                = icon('fas','angle-right')
      %li.user-navi__menu__list
        .user-navi__menu__list__item
          = link_to new_card_path(current_user), class: "list-table" do
            .list-table__branch
              %span.list-table__branch__name
                支払い方法
              .list-table__branch__icon
                = icon('fas','angle-right')
      %li.user-navi__menu__list
        .user-navi__menu__list__item
          = link_to "#", class: "list-table" do
            .list-table__branch
              %span.list-table__branch__name
                メール/パスワード
              .list-table__branch__icon
                = icon('fas','angle-right')
      %li.user-navi__menu__list
        .user-navi__menu__list__item
          = link_to "#", class: "list-table" do
            .list-table__branch
              %span.list-table__branch__name
                本人情報
              .list-table__branch__icon
                = icon('fas','angle-right')
      %li.user-navi__menu__list
        .user-navi__menu__list__item
          = link_to "#", class: "list-table" do
            .list-table__branch
              %span.list-table__branch__name
                電話番号の確認
              .list-table__branch__icon
                = icon('fas','angle-right')
      %li.user-navi__menu__list
        .user-navi__menu__list__item
          = link_to edit_user_path(current_user), class: "list-table" do
            .list-table__branch
              %span.list-table__branch__name
                ログアウト
              .list-table__branch__icon
                = icon('fas','angle-right')