.login-content
  %header.login-header
    = render "items/header"
    %nav.bread-crumbs
      %ul
        %li 
          = link_to root_path do
            furima
          = icon('fas','angle-right')
        %li 
          - breadcrumb :login
          = breadcrumbs separator: " &rsaquo; "
  %main.login-main
    %section.main-container
      .login-form
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .items-adress
            = f.email_field :email, {autofocus: true, autocomplete: "email", placeholder: "メールアドレス",class:'login-form__input'}
          .items-password
            = f.password_field :password, {autocomplete: "off",placeholder: "パスワード",class:'login-form__input',id:"password"}
          .actions
            = f.submit "ログイン", class: 'login-btn'
