.login-content
  %header.login-header
    = render "items/header"
    %nav.bread-crumbs
      %ul
        - breadcrumb :login
        = breadcrumbs separator: " &rsaquo; "
  %main.login-main
    %section.login-main__container
      %h2.login-main__container__title
        ログイン画面
      .login-main__container__form
        .login__contents
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .items-group
              = f.label :メールアドレス
              = f.email_field :email, {autofocus: true, autocomplete: "email", placeholder: " PC・携帯どちらでも可",class:'items-group__input'}
            .items-group
              = f.label :パスワード
              = f.password_field :password, {autocomplete: "off",placeholder: " 7文字以上",class:'items-group__input',id:"password"}
            .items-group
              = f.submit "ログイン", class: 'login-btn'
