.confirm-main
  .confirm-main__container
    .confirm-main__container--header
      - if current_user.id == @user.id
        %h2.confirm-tytle
          削除内容の確認
        %p.confirm-text
          下記の商品内容でよろしければ、削除するを押してください。
      - else
        %h2.confirm-tytle
          購入内容の確認
        %p.confirm-text
          下記の商品内容でよろしければ、購入するを押してください。
    .confirm-main__container--product-image
      = image_tag(@item.images.first.image.url, class: "img")

    .confirm-main__container--property-box
      .item-property
        .item-property__column1
          出品者
        .item-property__column2
          = @user.nickname
      .item-property
        .item-property__column1
          カテゴリー
        .item-property__column2
          %span
            = @category_parent.name
          %span
            &#047;
          %span
            = @category_child.name
          %span
            &#047;
          %span
            = @category_grandchild.name
      .item-property
        .item-property__column1
          ブランド
        .item-property__column2
          = @item.brand
      .item-property
        .item-property__column1
          商品の状態
        .item-property__column2
          = @item.condition
      .item-property
        .item-property__column1
          配送料の負担
        .item-property__column2
          = @item.postage
      .item-property
        .item-property__column1
          発送元の地域
        .item-property__column2
          = @item.area
      .item-property
        .item-property__column1
          発送日の目安
        .item-property__column2
          = @item.until_shipping

    .confirm-main__container--purchase-box
      .confirm-subtotal
        小計
      .confirm-price
        %div
          ￥
        %div
          = @item.price.to_s(:delimited)
        %div
          (税込)
    - if current_user.id == @item.seller_id
      = link_to item_path(@item), class: "confirm-main__container--buy-box", method: :delete do
        .deletion-btn
          削除する
    - else
      = link_to payment_card_path(@item), class: "confirm-main__container--buy-box" do
        .buy-btn
          購入する