.header
  .header__Inner
    .header__Inner__top
      .icon
        =link_to root_path do
          = image_tag "logo.png"
      .searchBox
        = form_with url: "#", class: "form" do |f|
          = f.text_field :text, class: "input", placeholder: "キーワードから探す"
          = f.label :submit, class: 'serch-btm' do
            = f.submit :submit , class: 'serch-btm__hidden'
            = icon("fas", "search", class: 'serch-btm__icon')

    .header__Inner__bottom
      %ul.left-items
        %li.left-item1
          = link_to '#', class: 'category-btn' do
            = icon("fas", "list")
            カテゴリー
        %li.left-item2
          = link_to '#', class: 'brand-btn' do
            = icon("fas", "tags")
            ブランド
      %ul.right-items
        - if user_signed_in?
          %li.right-item1
            = link_to user_path(current_user) do
              マイページ
        - else
          %li.right-item3
            = link_to new_user_session_path, class: 'new-btn' do
              ログイン
          %li.right-item4
            = link_to new_user_registration_path , class: 'login-btn' do
              新規会員登録