= render partial: 'header'

.confirm-main
  .confirm-main__container
    .confirm-main__container--header
      %h2.confirm-tytle
        購入内容の確認
      %p.confirm-text
        下記の商品内容でよろしければ、購入するを押してください。
    .confirm-main__container--product-image
      = image_tag "img01.png", class: 'img'

    .confirm-main__container--purchase-text
      

    .confirm-main__container--property-box
      .item-property
        .item-property__column1
          出品者
        .item-property__column2
          hoge
      .item-property
        .item-property__column1
          カテゴリー
        .item-property__column2
          メンズ
      .item-property
        .item-property__column1
          ブランド
        .item-property__column2
          不明
      .item-property
        .item-property__column1
          商品サイズ
        .item-property__column2
          不明
      .item-property
        .item-property__column1
          商品の状態
        .item-property__column2
          未使用に近い
      .item-property
        .item-property__column1
          配送料の負担
        .item-property__column2
          送料込み(出品者の負担)
      .item-property
        .item-property__column1
          発送元の地域
        .item-property__column2
          岩手県
      .item-property
        .item-property__column1
          発送日の目安
        .item-property__column2
          4-7日で発送

    .confirm-main__container--purchase-box
      .confirm-subtotal
        小計
      .confirm-price
        %div
          ￥
        %div
          30000
        %div
          (税込)

    = form_with url: "#", class: "confirm-main__container--buy-box" do |f|
      = f.submit '購入する', class:"buy-btn"
 

= render partial: 'footer'