= render 'items/header'

.main-contens
  %section.visual
    .visual__content
      %h2.visual__content__subtitle
        %br/
        人生を変えるフリマアプリ
      %p.visual__content__text
        フリマは誰でも簡単に購入できる
        %br/
        フリマアプリです
      .visual__content__btn
        = link_to '#', class: 'aBtn' do
          =image_tag "http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg"
        = link_to '#', class: 'bBtn' do
          =image_tag "http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg"
  %section.topIntroduction
    %h2.subtitle
      フリマが選ばれる三つの理由
    %ul.lists
      %li.list
        .list__gazo
          %span.number 
            1
          = image_tag "pict-reason-01.jpg" , class: "gazo";
        %h3.list__text
          %span.text 3分
          ですぐに出品
        %p.description
          スマホで入力するだけで簡単に出品できる！
      %li.list
        .list__gazo
          %span.number 
            2
          = image_tag "pict-reason-02.jpg" , class: "gazo";
        %h3.list__text
          %span.text
            シンプル
          で使いやすい
        %p.description
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.list.list--last
        .list__gazo
          %span.number
            3
          = image_tag "pict-reason-03.jpg" , class: "gazo";
        %h3.list__text
          手数料
          %span.text
            業界最安
        %p.description
          最大3%でお得に出品&amp;購入！
  %section.visual2
    .visual2__inner
      %h2.visual2__inner__subtitle
        会員数日本一位
      %p.visual2__inner__text
        FURIMAは、フリマアプリで最も人気。
        %br/
        出品・購入回数も業界最多です！
        %br/
        ほしかったあの商品に出会えるかもしれません。
      .visual2__inner__btn
        = link_to '#', class: 'aBtn' do
          =image_tag "http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg"
        = link_to '#', class: 'bBtn' do
          =image_tag "http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg"
  %section.feature
    %h2.head
      FURIMAの特徴
    .items
      %section.item
        %figure.item__img
          =image_tag "icon-01.png" , class: "item__img__icon"
        %h3.item__subtitle
          簡単に売り買いできる
        %p.item__detail
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      %section.item
        %figure.item__img
          =image_tag "icon-03.png" , class: "item__img__icon"
        %h3.item__subtitle
          売上金は即日振込みに対応
        %p.item__detail
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします
      %section.item
        %figure.item__img
          =image_tag "icon-04.png" , class: "item__img__icon"
        %h3.item__subtitle
          様々な支払いに対応
        %p.item__detail
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  %section.pickupCategory
    %h2.head
      ピックアップカテゴリー
    .productBox
      .productHead
        = link_to '#' do
          %h3.title
            新規投稿商品
      .productLists
        .productList
          = link_to "#" do
            %figure.productList--img
              =image_tag "https://d3pbyuzcd27kd.cloudfront.net/wp-content/uploads/sites/8/2019/05/23191708/Rain-Drop-from-Garden-Rose.jpg" , class: "image__category"
            .productList--body
              %h3.product--name
                薔薇
              .details
                %ul
                  %li
                    1000円
                  %li
                    %i.fa.fa-star.likeIcon
                      1
                %p
                  (税込)
        .productList
          = link_to "#" do
            %figure.productList--img
              =image_tag "https://www.edogawa-kankyozaidan.jp/files/file/1505119769.jpg" , class: "image__category"
            .productList--body
              %h3.product--name
                ひまわり
              .details
                %ul
                  %li
                    2000円
                  %li
                    %i.fa.fa-star.likeIcon
                      2
                %p
                  (税込)
        .productList
          = link_to "#" do
            %figure.productList--img
              =image_tag "https://lovegreen.net/wp-content/uploads/2016/03/GettyImages-460339841-e1481252505595.jpg" , class: "image__category"
            .productList--body
              %h3.product--name
                紫陽花
              .details
                %ul
                  %li
                    3000円
                  %li
                    %i.fa.fa-star.likeIcon
                      3
                %p
                  (税込)
        .productList
          = link_to "#" do
            %figure.productList--img
              =image_tag "https://d3pbyuzcd27kd.cloudfront.net/wp-content/uploads/sites/8/2020/04/10123945/1583378119242_365903_photo.jpg" , class: "image__category"
            .productList--body
              %h3.product--name
                たんぽぽ
              .details
                %ul
                  %li
                    4000円
                  %li
                    %i.fa.fa-star.likeIcon
                      4
                %p
                  (税込)
        .productList
          = link_to "#" do
            %figure.productList--img
              =image_tag "https://d3pbyuzcd27kd.cloudfront.net/wp-content/uploads/sites/8/2019/05/23191708/Rain-Drop-from-Garden-Rose.jpg" , class: "image__category"
            .productList--body
              %h3.product--name
                薔薇
              .details
                %ul
                  %li
                    50000円
                  %li
                    %i.fa.fa-star.likeIcon
                      5
                %p
                  (税込)
  %section.pickupBrand
    %h2.head
      ピックアップブランド
    .productBox
      .productHead
        = link_to "#" do
          %h3.title
            アーカイバ
      .productLists
        .productList
          = link_to "#" do
            %figure.productList--img
              =image_tag "https://image.rakuten.co.jp/x-sell/cabinet/newbag/1908/42445944.jpg" , class: "image__category"
            .productList--body
              %h3.product--name
                グッチ鞄
              .details
                %ul
                  %li
                    10000円
                  %li
                    %i.fa.fa-star.likeIcon
                      1
                %p
                  (税込)
        .productList
          = link_to "#" do
            %figure.productList--img
              =image_tag "https://image.rakuten.co.jp/x-sell/cabinet/newbag/1908/42445944.jpg" , class: "image__category"
            .productList--body
              %h3.product--name
                グッチ鞄
              .details
                %ul
                  %li
                    20000円
                  %li
                    %i.fa.fa-star.likeIcon
                      2
                %p
                  (税込)
        .productList
          = link_to "#" do
            %figure.productList--img
              =image_tag "https://image.rakuten.co.jp/x-sell/cabinet/newbag/1908/42445944.jpg" , class: "image__category"
            .productList--body
              %h3.product--name
                グッチ鞄
              .details
                %ul
                  %li
                    30000円
                  %li
                    %i.fa.fa-star.likeIcon
                      3
                %p
                  (税込)
        .productList
          = link_to "#" do
            %figure.productList--img
              =image_tag "https://image.rakuten.co.jp/x-sell/cabinet/newbag/1908/42445944.jpg" , class: "image__category"
            .productList--body
              %h3.product--name
                グッチ鞄
              .details
                %ul
                  %li
                    40000円
                  %li
                    %i.fa.fa-star.likeIcon
                      4
                %p
                  (税込)
        .productList
          = link_to "#" do
            %figure.productList--img
              =image_tag "https://d3pbyuzcd27kd.cloudfront.net/wp-content/uploads/sites/8/2019/05/23191708/Rain-Drop-from-Garden-Rose.jpg" , class: "image__category"
            .productList--body
              %h3.product--name
                薔薇
              .details
                %ul
                  %li
                    65000円
                  %li
                    %i.fa.fa-star.likeIcon
                      5
                %p
                  (税込)
%aside.appVisual3
  .inner
    %h2.inner__title
      誰でも簡単、人生を変えるフリマアプリ
    %p.inner__text
      今すぐ無料ダウンロード
    .inner__btn
      = link_to '#', class: 'aBtn' do
        =image_tag "http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg"
      = link_to '#', class: 'bBtn' do
        =image_tag "http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg"

= render 'items/footer'
= render 'items/sell-btn'