= render partial: 'header'
%nav.bread-crumbs
  %ul
    - breadcrumb :show
    = breadcrumbs separator: " &rsaquo; "

.detail-main
  .detail-main__container
    .detail-main__container--product-box
      %h2.product-name
        = @item.name
      %ul.product-image
        %li.product-image__top
          = image_tag(@images_first.image.url, class: "img")
          - if @item.stock.to_i == 0 
            .img__sold
              .img__sold__inner
                Sold
        %li.product-image__bottom
          %ul.bottom-image
            - @images.each do |img|
              %li.bottom-image__list
                = image_tag(img.image.url, class: "img")
      .price-box
        %p.price-box__item-price
          = @item.price.to_s(:delimited)
          = "円"
        .price-box__item-fee
          %p.price-box__item-tax
            (税込)
          %p.price-box__item-postage
            送料込み
      .item-detail
        %p
          <商品の状態について>
        %p
          写真はイメージです。
      .item-property
        .item-property__column1
          出品者
        .item-property__column2
          hoge
      .item-property
        .item-property__column1
          カテゴリー
        .item-property__column2
          メンズ
      .item-property
        .item-property__column1
          ブランド
        .item-property__column2
          不明
      .item-property
        .item-property__column1
          商品サイズ
        .item-property__column2
          不明
      .item-property
        .item-property__column1
          商品の状態
        .item-property__column2
          未使用に近い
      .item-property
        .item-property__column1
          配送料の負担
        .item-property__column2
          送料込み(出品者の負担)
      .item-property
        .item-property__column1
          発送元の地域
        .item-property__column2
          岩手県
      .item-property
        .item-property__column1
          発送日の目安
        .item-property__column2
          4-7日で発送
        
      .purchase
        - if @item.stock.to_i == 0
          = link_to root_path, class: "purchase__sold" do
            売り切れました
        
        - elsif user_signed_in?
          - if @item.seller_id == current_user.id
            = link_to "商品の編集", "#", class: "purchase__edit"
            = link_to "商品の削除", "#", class: "purchase__delete" 
          - else
            = link_to confirm_item_path , class: "purchase__buy-btn" do
              商品購入画面へ
        - else
          %h1
            ※ 商品購入にはログインが必要です

          
    .detail-main__container--comment-box
      %textarea{placeholder: "コメントする", class: "comment-area"}
      %p.attention-text
        相手のことを考えた丁寧名コメントを心がけましょう。
      %p.attention-text
        不快な言葉遣いなどは利用制限や退会処分になることがあります。
      .post
        = link_to "#", class: "post__comment-btn" do
          コメントする
      .comment-list
        .comment-list__tytle
          コメント一覧
        .comment-list__content
          .comment-list__content--items
            .commenter
              テストユーザー
            .comment-text
              こんにちわ
    .detail-main__container--link
      = link_to "#", class: "page-link" do
        < 前の商品
      = link_to "#", class: "page-link" do
        後ろの商品 >

= render partial: 'footer'
= render 'items/sell-btn'