= render 'items/header'
.mypage
  = render "users/mypage/mypage-side"
  .after-payment
    %p.after-payment__text
      購入手続きが完了しました
  .back-page
    .back-page__top
      = link_to root_path(current_user), class: "back-page__link" do
        %span.back-page__top__text
          トップページに戻る
    .back-page__top
      = link_to users_path(current_user), class: "back-page__link" do
        %span.back-page__top__text
          マイページに戻る
= render 'items/footer'